// ------ VARIABLES ------
$speed: 5s;
// ------ END VARIABLES ------

.speed {
  grid-column: 3;
  grid-row: 1;
  border: 1px solid black;
}

.speed__wheel {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: calc(80%);
  border-radius: 50%;
  background-color: #000;
}
