.tacho {
  grid-column: 3;
  grid-row: 2;
  border: 1px solid black;
}

.tacho__wheel {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #000;
}
